

.carouselContainer {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    margin: auto !important;
    height: 570px;
    /* background-color: antiquewhite; */
    /* width: 320px; */
    width: 100% !important;
    /* max-width: 380px; */
    
}


 img{
    display: flex !important;
    margin: auto;
    justify-content: center !important;
    align-items: center !important;
    box-sizing: border-box;
    border: 6px white solid;
    border-radius: 10px;
    width: 100% !important;
    object-fit: cover;
    height: 100%;
    max-height: 570px;
    margin-bottom: 5px;
    
    
}

.sentences {
    justify-content: space-between;
    display: flex;
    font-family: "Roboto", sans-serif;
    background-color: rgb(250, 244, 236);
    padding: 5px;
    margin-right: 3px;
    margin-left: 3px;
    
}

.date {
    display: flex;
    color: rgb(16, 16, 16);
    background-color: rgb(250, 244, 236);
    /* color: black; */
    text-align: left;
    /* text-transform: uppercase; */
    /* margin: 5px; */
    height: 100%;
    /* border-radius: 20px; */
    font-size: 1.3em;
    font-weight: 600;
    /* padding: 5px; */
    margin-left: 5px !important;
    margin: 0;
    min-width: 180px !important;

}


.sentence {
    color: rgb(16, 16, 16);
    /* margin: 10px auto; */
    text-align: right;
    /* border-radius: 20px; */
    font-family: 'Fredoka', sans-serif;
    font-size: 1.3em;
    /* font-size: 4vw; */
    display: flex;
    margin-right: 5px !important;
    margin: 0;
    font-weight: 550;
    /* max-width: 232px; */
}

.slick-track{
    display: flex !important;
    justify-content: center;
    align-items: center;
    /* height: 560px; */
}

button {
    border: rgb(43, 43, 43) solid 0.3px !important;
    height: 4px !important;
    border-radius: 2px !important;
    /* margin-top: 15px; */
}