.paragraph {
    /* margin: 5px; */
    font-family: 'Fredoka', sans-serif;
    font-size: 1.2em !important;
    margin: 12px;
    font-weight: 800;
    text-align: right;
    direction: rtl;
    padding: 10px;
    position: absolute;
    color: black;
    /* font-weight: bolder; */
    z-index: 1;
    
}

.background-img {
    /* padding: 0 !important; */
    height: 800px;
    background-image: url("https://guymelamed2109.github.io/react-guy-project/images/gandr-collage.jpg");
    background-size: contain;
    opacity: 0.2;
    overflow: hidden;
    filter: brightness(90%);
}
/* 
.homeContainer {
    height: 280px !important;
    width: 350px !important;
    justify-content: center !important;
    align-items: center !important;
    margin: auto !important;
}

img{
    display: flex !important;
    margin: auto;
    justify-content: center !important;
    align-items: center !important;
    box-sizing: border-box;
    border: 6px white solid;
    border-radius: 10px;
    width: 100% !important;
    object-fit: contain !important;
    height: 100%;
    max-height: 280px !important;
    margin-bottom: 5px;
}

.slick-track{
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
} */