.paragraph {
    /* margin: 5px; */
    font-family: 'Fredoka', sans-serif;
    font-size: 1.5em !important;
    margin: 0;
    font-weight: 550;
    text-align: right;
    direction: rtl;
    padding: 10px;
}

.homeContainer {
    height: 200px !important;
    width: 100% !important;
    /* display: flex !important; */
    justify-content: center !important;
    align-items: center !important;
    margin: auto !important;
}

img{
    display: flex !important;
    margin: auto;
    justify-content: center !important;
    align-items: center !important;
    box-sizing: border-box;
    border: 6px white solid;
    border-radius: 10px;
    width: 100% !important;
    object-fit: contain;
    height: 100%;
    max-height: 350px !important;
    margin-bottom: 5px;
}

.slick-track{
    display: flex !important;
    justify-content: center;
    align-items: center;
    /* height: 560px; */
}