.paragraph {
    font-size: 1.1em !important;
    font-weight: 500;
    justify-content: center !important;
    display: flex;
    flex-direction: column;
    direction: rtl;
    padding-bottom: 3px !important;
    padding: 12px;
    /* position: absolute !important; */
    color: black;
    /* z-index: 1 !important; */
}

/* .the-whole-page {
    width: 383px;
   
} */

 p1 {
    margin-bottom: 12px !important;
    justify-content: center !important;
    font-family: 'Fredoka', sans-serif;
    text-align: right;
    width: fit-content;
    
}

/* h1 {
    margin-bottom: 2px;
    justify-content: center !important;
    font-family: 'Fredoka', sans-serif;
    background-color: white;
    text-align: center;
    width: fit-content;
    font-size: 1em !important;
    
} */

.main-image {
    display: flex;
    justify-content: center !important;
    align-items: center !important;
    box-sizing: border-box;
    border: 6px white solid;
    border-radius: 15px;
    width: 370px !important;
    object-fit: cover;
    height: 100%;
    padding: 5px;
}

.gif {
    display: flex;
    justify-content: left !important;
    /* height: 100px;   */
    width: 80px !important;
    object-fit: cover;
        /* justify-content: center !important; */
    margin-left: 2px !important;
    margin: 0;
    padding: 0;
    border: 0;
}

/* .background-img {
    display: flex;
    justify-content: center !important;
    height: 800px;
    background-image: url("https://guymelamed2109.github.io/react-guy-project/images/gandr-collage.jpg");
    background-size: contain;
    opacity: 0.5;
    width: 100%;
    

} */
/* 
.homeContainer {
    height: 280px !important;
    width: 350px !important;
    justify-content: center !important;
    align-items: center !important;
    margin: auto !important;
}

img{
    display: flex !important;
    margin: auto;
    justify-content: center !important;
    align-items: center !important;
    box-sizing: border-box;
    border: 6px white solid;
    border-radius: 10px;
    width: 100% !important;
    object-fit: contain !important;
    height: 100%;
    max-height: 280px !important;
    margin-bottom: 5px;
}

.slick-track{
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
} */