.month {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 41.78px;
    align-items: center;
    justify-content: center;
    padding: 0%;
    gap: 0.8rem;
    width: 100% ;
}
.monthsContainer {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.8rem;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !important;
}

.days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    font-size: smaller;
    font-weight: 200;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !important;
}

p {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !important;
}